.App {
    font-family: sans-serif;
    text-align: center;
}

.Page {
    width: 300px;
    height: 400px;

    border: 1px solid red;

    overflow: scroll;
}

.Item {
    margin: 10px;
    border: 1px solid blue;
}

.Selected {
    text-align: left;
}